{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">

        function getDataFromForm($form) {
            var unindexed_items = $form.serializeArray();
            var result = {};
            $.map(unindexed_items, function (n, i) {
                result[n['name']] = n['value'];
            });
            return result;
        }

        $(document).ready(function () {
            $.getJSON("{% url 'wishlist:show_json' %}", function (json) {
                var table = [];
                $.each(json, function (index, data) {
                    var row = [];
                    var fields = data.fields
                    row.push("<td>" + data.fields.nama_barang + "</td>");
                    row.push("<td>" + data.fields.harga_barang + "</td>");
                    row.push("<td>" + data.fields.deskripsi + "</td>");
                    table.push("<tr>" + row.join("") + "</tr>");
                });
                document.getElementById("display").innerHTML = table.join("");
            });

            $("#tambah_barang_form").submit(function (e) {
                e.preventDefault();
                var $form = $(this);
                var serializedData = getDataFromForm($form);
                console.log(serializedData)
                $.ajax({
                    url: "{% url 'wishlist:add_barang_json' %}",
                    type: "POST",
                    data: serializedData,
                    dataType: 'text',
                    success: function (data) {
                        $.getJSON(
                            "{% url 'wishlist:show_json' %}",
                            function (json) {
                                var table = [];
                                $.each(json, function (index, data) {
                                    var row = [];
                                    var fields = data.fields
                                    row.push("<td>" + data.fields.nama_barang + "</td>");
                                    row.push("<td>" + data.fields.harga_barang + "</td>");
                                    row.push("<td>" + data.fields.deskripsi + "</td>");
                                    table.push("<tr>" + row.join("") + "</tr>");
                                });
                                document.getElementById("display").innerHTML = table.join("");
                            });
                    }
                });
            });
        });

    </script>
</head>
      

<body style="background-color:#feffff ;">
    <!-- Navbar -->
    <nav class="navbar navbar-dark" style="background-color:#0D3B66; padding: 8px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
        <!-- Container wrapper -->
        <div class="container-fluid">
    
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#" style="color:#feffff; font-weight: 500;">Amira Nisrina</a>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'wishlist:logout' %}" style="color:#feffff; font-weight: 500;"><span class="glyphicon glyphicon-log-out" style="color:#feffff" ></span> Log Out</a></li>
        </ul>

        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->

    <form class="container" method="POST" name="barang_form" id="tambah_barang_form">
        {% csrf_token %}
        <fieldset>
            <legend>Tambah Barang Wishlist</legend>
            <input class="form-control mb-3" type="text" placeholder="Nama barang" name="nama_barang">
            <input class="form-control mb-3" type="number" min="1" step="any" placeholder="Harga barang"
                name="harga_barang">
            <textarea class="form-control mb-3" rows="3" placeholder="Deskripsi" name="deskripsi"></textarea>
            <button type="submit" class="btn btn-primary btnClick">Submit</button>
        </fieldset>
    </form>

    <table class="table table-hover" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: #0D3B66; margin: 15px; ">
        <thead class="thead-dark" style="background-color:#C9E1F8; font-size: 16px; color: black; ">
            <tr>
                <th style="text-align:center;">Nama Barang</th>
                <th style="text-align:center;">Harga Barang</th>
                <th style="text-align:center;">Deskripsi</th>
            </tr>
        </thead>
        <tbody id="display">
        
        </tbody>
        
  
     
    </table>
    <h5>Sesi terakhir login: {{ last_login }}</h5>
</body>

</html>

{% endblock content %}
